<!DOCTYPE html>
<html>
<head>
  <title>tornado WebSocket example</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>
</head>
<body>
  <div class="container">
    <h1>Pirus - aioHTTP/WebSocket</h1>
    <hr>
      WebSocket status : <span id="message"></span>
    <hr>
    <h3>Connected users</h3>
    <p id="userList"></p>

    <h3>Pirus available plugins </h3>
    <p id="aPlugins">
        {% for p in pa %}
            - {{ p }} <br/>
        {% endfor %}
    </p>
    
    <h3>Pirus running plugins </h3>
    <up id="rPlugins">
        {% for p in pr %}
            - {{ p }}<br/>
        {% endfor %}
    </p>


  </div>

  <script>
    var ws = new WebSocket('ws://localhost:8080/ws');
    var $message = $('#message');
    ws.onopen = function()
    {
        $message.attr("class", 'label label-success');
        $message.text('open');

        ws.send('{"action" : "authent", "data" : "Chrome"}')
    };
    ws.onmessage = function(ev)
    {
        $message.attr("class", 'label label-info');
        $message.hide();
        $message.fadeIn("slow");
        var json = JSON.parse(ev.data);

        dt = new Date()
        $message.text('Last message recieved at ' + dt.toLocaleTimeString() + ' : ' + json["action"]);


        switch(json["action"])
        {
          case 'online_user':
            var uTxt = ""
            $.each(json["data"], function (idx, val)
            {
                uTxt += " - " + val + "</br>\n"
            })
            $('#userList').html(uTxt)
            break;

          case 'plugin_notify':
            var uTxt = ""
            $.each(json["data"], function (idx, val)
            {
                uTxt += " - " + val + "</br>\n"
            })
            $('#rPlugins').html(uTxt)
            break;
        }
    };
    ws.onclose = function(ev)
    {
        $message.attr("class", 'label label-important');
        $message.text('closed');
    };
    ws.onerror = function(ev)
    {
        $message.attr("class", 'label label-warning');
        $message.text('error occurred');
    };
  </script>
</body>
</html> 
