<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pirus</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/assets/blog.css"/>
    <link rel="stylesheet" href="/assets/font-awesome-4.6.3/css/font-awesome.min.css"/>
    <
</head>
<body>


<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4" style="width:auto"> 
        <div class="header">
            <img src="/assets/logo.png" height="200px" style="margin-top:-200px; margin-right:20px;margin-bottom:100px;" />
            <h1 class="brand-title">  Pirus</h1>
            <h2 class="brand-tagline">Pipeline runner server</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="/www/about"> <i class="fa fa-question" aria-hidden="true"></i> About</a>
                        <a class="pure-button" href="https://github.com/orgs/REGOVAR/dashboard"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a>
                        <!--<a class="pure-button" href=""> <i class="fa fa-power-off" aria-hidden="true"></i> Disconnect</a>-->
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4" style="width:auto">

            <!-- A wrapper for all the blog posts -->
            <div>
                <h1 class="content-subhead"><i class="fa fa-user" aria-hidden="true"></i>  User online</h1>
                <ul>
                    <li>You are : <input type="text" name="username" id="username" placeholder="John Snow" /> </li>
                </ul>
                <ul id="userList">
                    {% for u in users %}
                        <li>{{ u["username"] }} : {{ u["data"] }}</li>
                    {% endfor %}
                </ul>

                <h1 class="content-subhead"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Pipelines</h1>
                <ul id="pipesList">
                    {% for p in pa %}
                        <li><span style="display:inline-block; width:200px;">{{ p["name"] }}</span> 
                        <span style="display:inline-block; width:100px;">{{ p["version"] }}</span>
                        <a class="pure-button" title="Uninstall the pipeline package" onclick="javascript:delete_pipeline('{{p["id"]}}')"><i class="fa fa-trash" aria-hidden="true"></i></a> 
                        <a class="pure-button" title="Information about the pipeline" href="http://localhost:8080/pipeline/{{p["id"]}}" target="_blanck"><i class="fa fa-info" aria-hidden="true"></i></a> 
                        <a class="pure-button" title="Get QML files information"      href="http://localhost:8080/pipeline/{{p["id"]}}/qml" target="_blanck"><i class="fa fa-file" aria-hidden="true"> qml</i></a> 
                        <a class="pure-button" title="Get Config files information"   href="http://localhost:8080/pipeline/{{p["id"]}}/config" target="_blanck"><i class="fa fa-file" aria-hidden="true"> conf</i></a> 
                        <a class="pure-button" title="Run the pipeline"               onclick="javascript:post_run('{{p["id"]}}')"><i class="fa fa-play" aria-hidden="true"></i></a> 
                        </li>
                    {% endfor %}
                </ul>

                <h1 class="content-subhead"><i class="fa fa-tasks" aria-hidden="true"></i> Runs</h1>
                <ul id="runsList">
                    {% if pr|length ==0 %}
                    <i>No run in progress.</i>
                    {% endif %}
                    {% for p in pr %}
                        <li>{{ p }}</li>
                    {% endfor %}
                </ul>

                <br />
                <h1 class="content-subhead"><i class="fa fa-plus" aria-hidden="true"></i> Install a new pipeline</h1>
                <form id="installPackageForm" method="POST" enctype="multipart/form-data" action="http://localhost:8080/pipeline" class="pure-form">
                <fieldset>
                    <div class="fileUpload pure-button">
                        <span><i class="fa fa-file-archive-o" aria-hidden="true"></i> Select Pirus package</span>
                        <input type="file" type="file" name="pipepck" id="pipepck" class="upload" />
                    </div>
                    <input type="submit" value="Install a new pipeline" class="pure-button pure-button-primary"/>
                </fieldset>
                </form>

                <!--
                <i class="fa fa-ban" aria-hidden="true"></i>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                <i class="fa fa-percent" aria-hidden="true"></i>
                <i class="fa fa-check" aria-hidden="true"></i>
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <i class="fa fa-bars" aria-hidden="true"></i>
                
                -->
                
                <h1 class="content-subhead"><i class="fa fa-retweet" aria-hidden="true"></i> Websocket message</h1>
                <p id="message"></p>
                        
            </div>

            
        </div>
    </div>
</div>

  <script>
    var ws = new WebSocket('ws://localhost:8080/ws');
    var $message = $('#message');

    $( "#username" ).change(function()
    {
        ws.send( "{\"action\" : \"user_info\", \"data\" : { \"username\" : \"" + $( this ).val() + "\"}}" );
    });


    function delete_pipeline(pipe_id)
    {
        $.ajax(
        {
            url: "http://localhost:8080/pipeline/" + pipe_id,
            type: "DELETE"
        }).fail(function()
        {
            alert( "ERROR" );
        }).done(function(txt) 
        {
            alert( "SUCCESS\n" + txt);
        })
    }
    function post_run(pipe_id)
    {
        $.ajax(
        {
            url: "http://localhost:8080/run",
            type: "POST",
            data: "{\"pipeline_id\" : \""+ pipe_id +"\", \"config\" : {}}"
        }).fail(function()
        {
            alert( "ERROR" );
        }).done(function(txt) 
        {
            alert( "SUCCESS\n" + txt);
        })
    }


    $(document).ready(function()
    {
        $('#installPackage').on('submit', function(e)
        {
            e.preventDefault(); 

            
            $.ajax({
                url: $this.attr('action'),  // Le nom du fichier indiqué dans le formulaire
                type: $this.attr('method'), // La méthode indiquée dans le formulaire (get ou post)
                data: $this.serialize()     // Je sérialise les données (j'envoie toutes les valeurs présentes dans le formulaire)
            }).fail(function()
            {
                alert( "error" );
            }).done(function(txt) 
            {
                alert( "second success" + txt);
            })
                

            //ws.send( "{\"action\" : \"user_info\", \"data\" : { \"username\" : \"" + $( this ).val() + "\"}}" );

        });
    });





    ws.onopen = function()
    {
        $message.attr("class", 'label label-success');
        $message.text('open');

        ws.send('{"action" : "authent", "data" : "Chrome"}')
    };
    ws.onmessage = function(ev)
    {
        $message.attr("class", 'label label-info');
        var json = JSON.parse(ev.data);

        dt = new Date()
        $message.html(dt.toLocaleTimeString() + ' ' + json["action"] + ' : ' + json["data"]);


        switch(json["action"])
        {
            case 'online_user':
                var uTxt = ""
                $.each(json["data"], function (idx, val)
                {
                    uTxt += "<li>" + val + "</li>"
                })
                $('#userList').html(uTxt)
                break;

            case 'run_progress':
                var uTxt = ""
                $.each(json["data"], function (idx, val)
                {
                    uTxt += "<li>" + val["pipe_id"] + " : " + val["start"] + " : " + val["status"]  + "</li>\n"
                })
                $('#runsList').html(uTxt)
                break;

            // Todo
            // - PipeLst_update
        }
    };
    ws.onclose = function(ev)
    {
        $message.attr("class", 'label label-important');
        $message.text('closed');
    };
    ws.onerror = function(ev)
    {
        $message.attr("class", 'label label-warning');
        $message.text('error occurred');
    };
  </script>



</body>
</html> 
